@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #FAF9F6;
}

.name {
  color: #333;
  margin: 20px 0;
}

.profile-img {
  max-width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.date-time {
  padding: 20px;
  margin: 10px auto;
}

.date-time-header {
  font-size: 20px;
  color: rgb(9, 9, 212);
}

.date-time-text {
  margin: 2px;
  color: #333;
}

.track {
  text-transform: uppercase;
  border: 3px solid #333;
  border-radius: 48%;
  background-color: #fff;
  color: rgb(9, 9, 212);
  width: auto;
}

.date-time a {
  text-decoration: none;
  color: #333;
}